ul
  li
    div.circle
      img(src="https://s3.amazonaws.com/uifaces/faces/twitter/boheme/128.jpg")
    h4 Steven Wilson
    input(id="check-1" type="checkbox")
    label(for="check-1")
      i.fa.fa-check
  li
    div.circle
      img(src="https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg")
    h4 Jamie Harden
    input(id="check-2" type="checkbox")
    label(for="check-2")
      i.fa.fa-check
  li
    div.circle
      img(src="https://s3.amazonaws.com/uifaces/faces/twitter/cacique/128.jpg")
    h4 Mike Portnoy
    input(id="check-3" type="checkbox")
    label(for="check-3")
      i.fa.fa-check
     
p(style="text-align:center;margin-top: 50px; font-family: 'Roboto', sans-serif;")
  a(href="https://dribbble.com/shots/1968649-Radial-Checkbox" target="_blank" style="color: #90CAF9;") View it on Dribbble!
  
  